*.a
*.o
*.o.*
*.d
*.def
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.lib
*.pc
*.pdb
*.so
*.so.*
*.swp
*.ver
*.version
*.metal.air
*.metallib
*.metallib.c
*.ptx
*.ptx.c
*.ptx.gz
*_g
\#*
.\#*
/.config
/.version
/ffmpeg
/ffplay
/ffprobe
/config.asm
/config.h
/config_components.h
/coverage.info
/lcov/
/src
/mapfile
/tools/python/__pycache__/
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/settings.json
.vscode/targets.log
ffmpegchroma.sh
ffmpegchroma2.sh
hd_img_hari.jpg
input_green.mp4
out.mp4
run_dummy.sh
sea.mp4
taj.mp4
woman.mp4
Faculty of Engineering_Cairo University Mail - GSoC 2022 Acceptance Letter.pdf
full_taj.png
woman.jpg
mountain.mp4
mountain.jpg
output_image.jpg
0001-avfilter-add-bilateral_cuda-filter.patch
